<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
       
        <button (click)="proceed()">Itch Windaybank</button>
        <button (click)="proceed1()">Alexander Kemmer</button>
        <button (click)="proceed2()">Nessy Culter</button>
        <button (click)="proceed3()">Marla Lifton</button>
        <button (click)="proceed4()">Nye Kimbrough</button>
        
     

</div >

