
h1{

    font-size: 40px;
    font-weight: bold;
    font-family: Monospace;
    text-align: center;
 }
 th, td {
   border-style: outset;
   border-radius: 10px;
   background-color: palegreen;
   text-align: center;
 }